// colors
$primary-white: #FFFF;
$primary-light: #e8f1f2;
$primary-lightdark: #191830;
$primary-dark: #040305;
$primary-brand-dark: #006494;;
$primary-brand-lightdark: #247ba0;
$primary-brand: #523EFF;
$primary-brand-light: #3AFFFB;
$secondary-brand-pale: #efcac4;
$secondary-brand-light: #ec9a9a;
$secondary-brand: #FF4286;


// neon colors
$neon-purple: #523EFF;
$neon-red: #FF4286;
$neon-green: #4CCFCC;