// colors
$light-grey: lightgrey;
$prussian-blue: #13293dff;
$sapphire-blue: #006494ff;
$celadon-blue: #247ba0ff;
$carolina-blue: #1b98e0ff;
$azure-x-11-web-color: #e8f1f2ff;
$cotton-candy: #ffc2e2ff;
$tickle-me-pink: #ff90b3ff;