// colors
$primary-white: #FFFF;
$primary-light: #e8f1f2;
$primary-lightdark: #191830;
$primary-dark: #040305;
$primary-brand-dark: #27263c;;
$primary-brand-lightdark: #247ba0;
$primary-brand: #523EFF;
$primary-brand-light: #3AFFFB;
$secondary-brand-pale: #efcac4;
$secondary-brand-light: #ec9a9a;
$secondary-brand: #FF385C;


// neon colors
$neon-purple: #523EFF;
$neon-red: #FF385C;
$neon-green: #4CCFCC;

// neon combo color
$neon-purple-red: linear-gradient(90deg, $neon-purple 4.5%, $neon-red 100%);