.sidebar {
  width: 300px;
  height: 100vh;
  overflow: hidden;
  background-color: $primary-brand-dark;
  color: $primary-white;

  position: fixed;
  top: 0px;
  right: 0px;

  &.collapsed {
    right: 20px;
    height: auto;
    width: auto;
    border-radius: 40px;
    margin-top: 20px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .sidebar-toggle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $primary-white;
    background-color: $primary-brand-dark;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 50px 20px 26px;

    .sidebar-toggle--count {
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      padding: 0px 10px;
    }

    &.collapsed {
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 40px;
      padding: 15px 26px;
    }
  }

  .sidebar-content {
    &.collapsed {
      display: none;
    }
  }

  .sidebar-tabs {
    border-bottom: solid 2px #414054;
    margin-bottom: 3px;
    display: flex;

    .sidebar-tabs--button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $primary-white;
      margin: 0 20px;
      padding-bottom: 12px;

      font-weight: 600;

      display: flex;
      align-items: center;

      opacity: 0.6;

      &.selected {
        opacity: 1;
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: $neon-purple-red;
        margin-bottom: -3px;
      }

      i {
        margin-right: 10px;
      }
    }
  }

  .list-item--attendee {
    display: flex;
    align-items: center;
    padding: 12px 20px;

    font-size: 14px;

    .initial {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $neon-purple-red;

      margin-right: 10px;

      & > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    i {
      color: $neon-red;
      margin-right: 5px;

      &.active {
        color: $neon-green;
      }
    }

    .name {
      margin-left: 5px;
      text-transform: uppercase;
    }
  }

  .sidebar-user-list {
    &.hidden {
      display: none;
    }
  }

  .sidebar-videos {
    max-height: calc(100vh - 127px);
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    position: relative;
    flex-shrink: 0;

    .video-tile-container {
      margin: 10px 20px;
    }
  }

  .sidebar-videos::-webkit-scrollbar {
    width: 5px;
  }

  .sidebar-videos::-webkit-scrollbar-track {
    background: $primary-dark;        /* color of the tracking area */
    width: 5px;
  }
  .sidebar-videos::-webkit-scrollbar-thumb {
    background: $neon-purple-red-vertical;
    border: 3px solid $neon-purple-red-vertical;  /* creates padding around scroll thumb */
  }
}