.sidebar {
  width: 300px;
  height: 100vh;
  overflow: hidden;
  background-color: $primary-brand-dark;
  color: $primary-white;
  transition: all 0.2s ease-in-out;

  position: fixed;
  right: 0px;

  &.collapsed {
    right: 20px;
    height: 70px;
    width: 280px;
    border-radius: 40px;
    margin-top: 20px;
  }

  .sidebar-toggle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $primary-white;
    background-color: $primary-brand-dark;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    padding: 40px 50px 20px 50px;

    transition: all 0.2s ease-in-out;

    .sidebar-toggle--count {
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      padding: 0px 10px;
    }

    &.collapsed {
      border-radius: 40px;
      padding: 20px 50px 20px 50px;
    }
  }

  .sidebar-tabs {
    border-bottom: solid 2px #414054;
    display: flex;

    .sidebar-tabs--button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $primary-white;
      padding: 12px 20px;

      font-weight: 600;

      display: flex;
      align-items: center;

      opacity: 0.6;

      &.selected {
        opacity: 1;
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: $neon-purple-red;
      }

      i {
        margin-right: 10px;
      }
    }
  }

  .list-item--student {
    display: flex;
    align-items: center;
    padding: 12px 20px;

    font-size: 14px;

    .initial {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $neon-purple-red;

      margin-right: 10px;

      & > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    i {
      color: $neon-red;
      margin-right: 5px;

      &.active {
        color: $neon-green;
      }
    }

    .name {
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
}