$bg-color: linear-gradient(90deg, $neon-purple 4.5%, $neon-red 100%);

.base-button {
  border-radius: 40px;
  text-transform: uppercase;
  color: $primary-white;
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;

  font-family: Avenir Next;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.base-button.neon {
  background: $bg-color;
  &:focus {
    outline: none;
  }

  &:hover {
    background: linear-gradient(90deg, lighten($neon-purple, 10%) 4.5%, lighten($neon-red, 10%) 100%);
  }

  &:active {
    opacity: 60%;
  }
}