.remote-video-group__students.grid {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
}

.remote-video-group__students.vertical_left {
  width: 355px;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  position: relative;
  flex-shrink: 0;
}

.remote-video-group__students.vertical_left::-webkit-scrollbar {
  width: 5px;
}

.remote-video-group__students.vertical_left::-webkit-scrollbar-track {
  background: $primary-lightdark;        /* color of the tracking area */
  width: 5px;
}
.remote-video-group__students.vertical_left::-webkit-scrollbar-thumb {
  background-color: $primary-light;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid $primary-light;  /* creates padding around scroll thumb */
}

.remote-video-group__student-tile {
  width: 355px;
  height: 200px;
  box-sizing: content-box; /* So the width will be 100% + 17px */
  object-fit: contain;
}

.remote-video-group__student-tile.hidden{
  display: none;
  overflow: hidden;
}

.remote-video-group__teacher-tile {
  width: 100%;
  height: 100vh;
}

.remote-video-group__teacher-tile-video-place-holder {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $primary-lightdark;

  /* font */
  line-height: 200px;
  color: $primary-dark;
  text-align: center;
  font-size: 22px;
}

.remote-video-group__video.hidden,
.remote-video-group__teacher-tile-video-place-holder.hidden {
  display: none;
  overflow: hidden;
}

.remote-video-group__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remote-video-group__student-view {
  display: flex;
}

