.video-tile__place-holder.hidden,
.video-tile.hidden{
  display: none;
  overflow: hidden;
}

.video-tile {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-tile__place-holder {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $primary-lightdark;

  /* font */
  line-height: 200px;
  color: $primary-light;
  text-align: center;
  font-size: 22px;

  &.taken {
    background-color: $primary-dark;
  }
}

.video-tile__name-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $primary-dark;
  background-color: $primary-light;
  padding: 2px 5px;
  opacity: 80%;
  font-size: 12px;
}