.ControlsGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 50px;
  right: 45%;
  align-items: center;

  button {
    margin:0 10px ;
  }
}