.ControlButton {
  display: flex;
  align-items: center;
  border: none;
  background: $neon-purple;
  color: $primary-white;
  text-align: center;
  line-height: 50%;
  border-radius: 40px;
  padding: 12px;

  &:hover {
    background: lighten($neon-purple, $amount: 40%);
  }

  span {
    margin: 0 0 0 10px;
  }

  &.red {
    background: $neon-red;
  }

  &.disabled {
    color: $neon-red;
    background: $primary-lightdark;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &.ripple {
    background-position: center;
    transition: background 0.5s;
    &:hover {
      background: lighten($neon-purple, $amount: 10%)
        radial-gradient(
          circle,
          transparent 1%,
          lighten($neon-purple, $amount: 10%) 1%
        )
        center/10000%;
      opacity: 90%;
    }
    &:active {
      background-color: $neon-purple;
      background-size: 100%;
      opacity: 0.3;
      transition: background 0s;
    }
  }
}


