.ControlButton {
  display: flex;
  align-items: center;
  border: none;
  background: $neon-green;
  color: $primary-white;
  text-align: center;
  line-height: 50%;
  border-radius: 40px;
  padding: 12px;
  font-size: 12px;
  position: relative;

  &:hover {
    opacity: 0.8;

    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &.red {
    background: $neon-red;
  }

  &.isOff {
    background: $neon-red;
  }

  // position
  &.left {
    position: fixed;
    left: 20px;
  }

  &.disabled {
    color: $neon-red;
    background: $primary-lightdark;
  }

  &:focus,
  &:active {
    outline: none;
  }

  span {
    margin: 0 0 0 5px;
  }

  .tooltip {
    visibility: hidden;
    background-color: $primary-light;
    color: $primary-lightdark;
    width: 70px;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $primary-light transparent transparent transparent;
    }
  }
}


