.ControlButton {
  border: none;
  background: transparent;
  color: $light-grey;
  font-size: 14px;
}

.ControlButton.active {
  color: $sapphire-blue;
}

.ControlButton:focus,
.ControlButton:active {
  outline: none;
}